/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}
/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}
.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: var(--container-color-dark);
    color: var(--text-color);
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* QR code generator */
#qrCode {
    margin: 15px;
}




:root {
    --brand-color: #ef6f4d;
    --text-color: #eeeeee;
    --component-text-color: #ffffff;
    --container-color: #262834;
    --container-color-dark: #17191f;
    --border-radius: 5px;

    --error-color: #a84032;
    --success-color: #278f31;
}

#body-content {
    padding: 16px 0px;
}

.form-input:checked ~ .custom-control-label::before {
    background-color: black;
}

.generic-container {
    border-radius: var(--border-radius);
    background-color: var(--container-color);
    padding: 20px;
}

.form-label {
    color: var(--text-color);
    display: block;
}

.form-input {
    margin-top: 10px;
    margin-bottom: 20px;
}
.form-button {
    text-align: center;
    width: 100%;
    background-color: var(--brand-color);
    border-width: 0;
    border-radius: 5px;
    color: var(--text-color);
}
.non-editable-input{
    border-radius: var(--border-radius);
    background-color: var(--container-color-dark);
    padding: 8px;
}
.error-label {
    font-size: 12px;
    color: var(--error-color)
}
.success-label {
    font-size: 12px;
    color: var(--success-color)
}


/*LOGIN SCREEN*/
.login-container {
    padding-top: 100px;
    display: flex;
    justify-content: center;
}

.login-form {
    width: 400px;
    border-radius: 5px;
    background-color: var(--container-color);
    padding: 20px;
}

.login-form div {
    text-align: center;
}
.login-form .server-inputs span,
.login-form .server-inputs input {
    display: inline;
}
.login-form .title {
    padding-bottom: 20px;
    align-items: center;
    color: var(--brand-color);
    font-size: 24px;
    font-weight: bold;
}


/*LAYOUT*/
.my-navbar {
    background-color: var(--container-color) !important;
    margin: 0px;
    padding: 0px;
}
.my-navbar .nav-item {
    margin: 10px 4px 0px 4px;
    padding: 6px 8px 4px 8px;
}
.my-navbar a {
   color: var(--text-color) !important;
   text-decoration: none !important;
}
.my-navbar a img {
   max-width: 24px;
   margin-top: -10px;
}
.my-navbar a:hover {
    color: var(--brand-color) !important;
}
.my-navbar .nav-item {
    display: inline;
    vertical-align: central;
}
.my-navbar .nav-item.active {
    color: var(--brand-color) !important;
    background-color: var(--container-color-dark) !important;
    border-radius: 5px 5px 0px 0px;
}

.user-info-container {
    display: inline-block;
    margin-top: 24px;
}
.user-info-container .main-title {
    display: block;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 12px;
}
.user-info-container form {
    min-width: 400px;
    border-radius: 5px;
    background-color: var(--container-color);
    padding: 20px;
}
.user-info-container .title {
    font-weight: bold;
}
.user-info-container form .form-label { 
    font-size: 14px;
}
 .user-info-container form .form-input {
    margin-top: 4px;
    margin-bottom: 10px;
}
.user-info-container form .form-input input{
    padding: 2px 4px;
}
.list-container {
    margin-top: 12px;
}
.list-container .list-item {
    display: block;
    color: var(--text-color);
    background-color: var(--container-color-dark);
    border-radius: var(--border-radius);
    border-width: 0px;
    margin: 4px 0px;
    padding: 6px 10px;
    text-align: left;
    width: 100%;
}
.list-item.active {
    border-width: 1px;
    border-color: var(--component-text-color);
    color: var(--brand-color)
}
.register-form .form-input input {
    border-radius: var(--border-radius);
    border-width: 0px;
    padding: 4px 10px;
    display: block;
    width: 100%;
}
.register-form .form-input {
    margin-bottom: 8px;
    margin-top: 4px;
}
.register-form button {
    margin-top: 10px;
}

.white-content {
    padding: 10px;
    color: var(--container-color-dark);
    background-color: var(--text-color);
    border-radius: var(--border-radius);
    width: 100%;
    height: 100%;
    white-space: pre-line;
}
