@model AccessPointControlClient.Models.PasswordChangeModel

<form method="post">
    <div class="title pb-2"><span>Change password</span></div>
    <div>
        <span class="form-label">Old password</span>
        <div class="form-input">
            <input asp-for="OldPassword" type="text" class="form-control">
            <span asp-validation-for="OldPassword" class="text-danger"></span>
        </div>
    </div>
    <div>
        <span class="form-label">New password</span>
        <div class="form-input">
            <input asp-for="NewPassword" type="password" class="form-control" runat="server" id="newPassword">
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
    </div>
    <div>
        <span class="form-label">Confirm password</span>
        <div class="form-input">
            <input asp-for="ConfirmPassword" type="password" class="form-control" runat="server" id="confirmPassword">
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <button type="submit" class="btn form-button" asp-controller="Home" asp-action="SubmitChangePassword">Change</button>
</form>